body{
	padding:0;
	margin:0;
	background: url(../images/banner.jpg)no-repeat 0px 0px;

		
}
h1,h2,h3,h4,h5,h6{
	margin:0;		
	font-weight:400;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-family: 'Exo', sans-serif;
}


.agile-voltheader h1 {
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    
    letter-spacing: 2px;
    color: #faf6f3;
    padding: 1em 0 1em;
}	

.agile-voltsub {
    width: 51%;
    margin: 0 auto;
    background: rgba(76, 72, 72, 0.47);
    box-sizing: border-box;
    
}

div.gallery {
    margin: 20px;
    float: left;
    width: 200px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: green;
}
.centrage{
    display: inline-block;
     padding: 30px;
}
 div.desc2{
    padding: 15px;
    text-align: center;
    background-color: #FF4500;
 }

 .rad input[type="submit"] {
    padding: 8px 22px;
    background-color: #008000;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
   cursor: pointer;
   display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

input[type="submit"] {
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;}

.gallery p{
font-size: 20px;
font-weight: 800;
text-align: center;
letter-spacing: 2px;
color: #faf6f3;

}
