body{
	font-family: 'Roboto Condensed', sans-serif;
	background: url(../images/banner.jpg)no-repeat 0px 0px;
    background-size: cover;
	background-position:center;
	background-attachment:fixed;
		
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-weight:400;
}
input[type="button"],input[type="submit"],input[type="text"],input[type="password"]{
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-family: 'Exo', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:0;		
	font-weight:400;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-family: 'Exo', sans-serif;
}	
.clear {
	clear:both;

	
}

.text-center {
	text-align:center;
}
p{
	margin:0;
	font-family: 'Exo', sans-serif;
}
span{
	font-family: 'Exo', sans-serif;
}
footer{
	font-family: 'Exo', sans-serif;
}
footer a{
	font-family: 'Exo', sans-serif;
}
label{
	margin:0;
	font-family: 'Exo', sans-serif;
	color: #FF8C00;
}

select{
	font-family: 'Exo', sans-serif;
}
option{
	font-family: 'Exo', sans-serif;
}
img{
	width:100%;
}
@font-face{
	font-family: 'Heebo';
	src:url('../fonts/Heebo.ttf') format('truetype');
}
@font-face{
	font-family: 'Exo';
	src:url('../fonts/Exo.ttf') format('truetype');
}
/*--header--*/
.agile-voltheader h1 {
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    
    letter-spacing: 2px;
    color: #fff;
    padding: 1em 0 1em;
}	
.agile-voltsub {
    width: 35%;
    margin: 0 auto;
	background: rgba(29, 28, 27, 0.76);
	box-sizing: border-box;
    padding: 5em;
}
.agile-voltsub h2 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  
	color:#fff;
    letter-spacing: 2px;
    padding: 0.2em 0.2em;
}
p {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
   
    letter-spacing: 1px;
    margin: 0;
    padding:1em 0 1em;
	color:#fff;
    
}

input[type="text"],input[type="password"],input[type="number"],input[type="email"],input[type="tel"],input[type="button"] {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    
    padding: 0.8em 0.5em 0.8em;
	box-sizing:border-box;
	width: 100%;
    border: 2px solid #5acae9;
    outline: none;
    background: rgba(255, 255, 255, 0.32);
    color: #fff;
    
}
.select {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    
    padding: 1em 0 1em;
    width: 100%;
    margin: 1em 0 1em;
    background: rgba(255, 255, 255, 0.32);
    color: #fff;
    letter-spacing: 2px;
    border: 2px solid #5acae9;
}
.agile-voltheader label {
    color: #FF8C00;
}
option {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
   
    background: rgba(40, 37, 37, 0.5);
    color: #fff;
    border: 2px solid #9e2929;
    letter-spacing: 2px;
}

select {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    
    padding: 1em 0 1em;
    width: 100%;
		margin: 0em 0 1em;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.32);
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #5acae9;
}
.agile-from {
    width: 47%;
    float: left;
}
.agile-to {
    width: 47%;
    float: left;
    margin-left: 3%;
}
input[type="submit"] {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    background: rgba(3, 157, 66, 0.93);
    color: #fff;
    border: none;
    outline: none;
    width: 65%;
    margin: 2em auto 0;
    display: block;
    padding: 0.5em 0.5em;
	cursor:pointer;}

.tab{
	border-spacing : 2px;
}
input[type="button"] {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    float: right;
    letter-spacing: 2px;
    background: rgba(3, 157, 66, 0.93);
    color: #fff;
    border: none;
    outline: none;
    width: 45%;
    margin: 2em auto 0;
    display: block;
    padding: 0.5em 0.5em;
	cursor:pointer;
}

input[type="submit"]:hover {
    background: #b5334a;
    color: #fff;
    transition: 0.5s ease-in;
}
::-webkit-input-placeholder{
	color:#fff;
}
::-moz-input-placeholder{
	color:#fff;
}
::-ms-input-placeholder{
	color:#fff;
}
input[type="button"]:hover {
    background: #b5334a;
    color: #fff;
    transition: 0.5s ease-in;
}
::-webkit-input-placeholder{
	color:#fff;
}
::-moz-input-placeholder{
	color:#fff;
}
::-ms-input-placeholder{
	color:#fff;
}
/*--footer--*/
footer {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
   
    letter-spacing: 2px;
    color: #fff;
    padding:1em 0em 1em;
}
footer a{
	font-size: 15px;
    font-weight: 500;
    text-align: center;
    
    letter-spacing: 1px;
    color:  #2ee6a4;
	text-decoration:none;
  
}
/*--/footer--*/
/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
	.agile-voltsub {
		width: 45%;
	}
}
@media(max-width:1366px){
	.agile-voltsub {
		width: 50%;
	}
}
@media(max-width:1280px){
	.agile-voltsub {
		width: 55%;
	}
}
@media(max-width:1080px){
	.agile-voltsub {
		width: 60%;
	}
}
@media(max-width:1050px){
	
}
@media(max-width:1024px){
	
}
@media(max-width:991px){
	
}
@media(max-width:900px){
	.agile-voltsub {
		width: 70%;
	}
}
@media(max-width:800px){
	.agile-voltsub {
		width: 75%;
	}
}
@media(max-width:768px){
	.agile-voltsub {
		width: 80%;
	}
}
@media(max-width:736px){
	
}
@media(max-width:640px){
	
}
@media(max-width:600px){
	.agile-voltsub {
		width: 90%;
	}
	.agile-voltheader h1 {
		font-size: 30px;
	}
	footer {
		font-size: 15px;
	}

@media(max-width:568px){
	.agile-voltsub {
		width: 92%;
	}
}
@media(max-width:480px){
	.agile-voltheader h1 {
		font-size: 25px;
	}
	.agile-days span.Monday {
		width: 33%;
	}
	.agile-days span.Tuesday {
		width: 33%;
	}
	.agile-days span.Wednesday{
		width: 33%;
	}
	.agile-days span.Thursday {
		width: 33%;
	}
	.agile-days span.Friday {
		width: 33%;
	}
	.agile-days span.Saturday {
		width: 33%;
	}
	.agile-days span.Sunday {
		width: 33%;
	}
}
@media(max-width:414px){
	.agile-days span.Monday {
		width: 50%;
	}
	.agile-days span.Tuesday {
		width: 50%;
	}
	.agile-days span.Wednesday{
		width: 50%;
	}
	.agile-days span.Thursday {
		width: 50%;
	}
	.agile-days span.Friday {
		width: 50%;
	}
	.agile-days span.Saturday {
		width: 50%;
	}
	.agile-days span.Sunday {
		width: 50%;
	}
}
@media(max-width:384px){
	.agile-voltsub h2 {
		font-size: 30px;
	}
}
@media(max-width:375px){
	
}
@media(max-width:320px){
	.agile-voltsub h2 {
		font-size: 20px;
	}
	.agile-voltsub {
		width: 100%;
	}
	.agile-from {
		width: 100%;
	}
	.agile-to {
		width: 100%;
	    margin-left: 1%;
	}
}
}
/*--/responsive--*/