*{
	margin: 0px;
	padding: 0px;
}
body{
	overflow-x: hidden;
	overflow-y: hidden;
	
}
.container{
	height: 100vh;
	background-image: url(../img/admin.jpg);
	background-size: cover;
	background-position: center;
}
.container h1{
	position: relative;
	left: 6%;
	top: 3%;
	text-shadow: 2px 1px 3px white;
	font-family: "Playfair Display",serif;
	font-size: 47px;
	color: black;
	
	width: 60%;
}
.barre{
	height: 10%;
	border: 1px solid grey;
	background-color: #212121;
	opacity: 0.7;
}
.barre ul{
	display: inline-block;
	width: 90%;
	height: 100%;


	}
.barre ul li{
	display: inline;


}
#logo{
	position: relative;
	left: 0%;
	display: inline-block;
	width: 10%;
	height: 100%;
	background-image: url(../img/logo.jpg);
	background-size: cover;
	background-position: center;
}
#Acceuil{
	position: relative;
	left: 15%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Catalogue{
	position: relative;
	left: 30%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Deconnexion{
	position: relative;
	left: 45%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Acceuil:hover{
color: #03A9F4;
border: 2px solid white;

}
#Catalogue:hover{
	color:#009688;
	border: 2px solid white;
}
#Deconnexion:hover{
	color:#f44336;
	border: 2px solid red;
}
/*le menu d'information               -----------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------*/
.menu{
	width:64%;
	height: 75%;
	border: 1px white solid;
	position: relative;
	left: 1.2%;
	top: 5%;
	background-color: rgba(0,0,0,0.4);

}

.gestion-fichiers{
	width: 32%;
	height: 32%;
	border-radius: 5px;
	float: right;
	position: relative;
	top: 10.5%;
	left: 31%;

}
.gestion-fichiers:hover{
	background-color: rgba(0,0,0,0.7); 
}
.gestion-fichiers h2{
	font-family: "Playfair Display",serif;
	font-size: 19px;
	position: relative;
	left: 30%;
	bottom: 25%;
	text-shadow: 4px 3px 4px black;
	color: #03A9F4;
}	
.gestion-fichiers p{
	width: 95%;
	height: 40%;
	font-size: 18px;
	text-align: center;
	position: relative;
	bottom: 15%;
	left: 2.5%;
	font-family: sans-serif;
	color: white;
}		
.gestion-fichiers a{
	display: inline-block;
	text-decoration: none;
	color: white;
	position: relative;
	left:30%;
	bottom: 10%;
	width: 40%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 10px;
	background-color: #d50000;
	letter-spacing: 1px;
}
.gestion-fichiers a:hover{
	color: black;
	background-color: #4CAF50;
}

.gestion-fichiers img{
	width: 25%;
	height: 25%;
	margin-left: 2%;
}
/*sssssssssssssss*/
.gestion-etudiants{
	width: 32%;
	height: 32%;
	border-radius: 5px;
	float: right;
	position: relative;
	top: 10%;
	right: 34%;
	
}
.gestion-etudiants:hover{
	background-color: rgba(0,0,0,0.7); 

}
.gestion-etudiants h2{
	font-family: "Playfair Display",serif;
	font-size: 19px;
	position: relative;
	left: 30%;
	bottom: 25%;
	text-shadow: 4px 3px 4px black;
	color: #03A9F4;
}	
.gestion-etudiants p{
	width: 95%;
	height: 40%;
	font-size: 18px;
	text-align: center;
	position: relative;
	bottom: 15%;
	left: 2.5%;
	font-family: sans-serif;
	color: white;
}		
.gestion-etudiants a{
	display: inline-block;
	text-decoration: none;
	color: white;
	position: relative;
	left:30%;
	bottom: 10%;
	width: 40%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 10px;
	background-color: #d50000;
	letter-spacing: 1px;
}
.gestion-etudiants a:hover{
	color: black;
	background-color: #4CAF50;
}

.gestion-etudiants img{
	width: 25%;
	height: 25%;
	margin-left: 2%;
	border-radius: 50%;
}/*sssssssssssss*/



.gestion-chambre{
	width: 32%;
	height: 32%;
	border-radius: 5px;
	float: right;
	position: relative;
	bottom:  5%;
	right: 34%;
	
}

.gestion-chambre:hover{
	background-color: rgba(0,0,0,0.7); 

}
.gestion-chambre h2{
	font-family: "Playfair Display",serif;
	font-size: 19px;
	position: relative;
	left: 30%;
	bottom: 25%;
	text-shadow: 4px 3px 4px black;
	color: #03A9F4;
}	
.gestion-chambre p{
	width: 95%;
	height: 40%;
	font-size: 18px;
	text-align: center;
	position: relative;
	bottom: 15%;
	left: 2.5%;
	font-family: sans-serif;
	color: white;
}		
.gestion-chambre a{
	display: inline-block;
	text-decoration: none;
	color: white;
	position: relative;
	left:30%;
	bottom: 10%;
	width: 40%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 10px;
	background-color: #d50000;
	letter-spacing: 1px;
}
.gestion-chambre a:hover{
	color: black;
	background-color: #4CAF50;
}

.gestion-chambre img{
	width: 25%;
	height: 25%;
	margin-left: 2%;
	border-radius: 50%;
}/*sssssssssssss*/
.gestion-reservation{
	border-radius: 5px;
	width: 32%;
	height: 32%;
	position: relative;
	top: 10%;
	left: 1%;
	
}

.gestion-reservation:hover{
	background-color: rgba(0,0,0,0.7); 
}
.gestion-reservation img{
	width: 30%;
	height: 30%;
	margin-left: 2%;
}
.gestion-reservation h2{
	font-family: "Playfair Display",serif;
	font-size: 17px;
	position: relative;
	left: 34%;
	bottom: 30%;
	text-shadow: 4px 3px 4px black;
	color: #03A9F4;
}
.gestion-reservation p{
	width: 95%;
	height: 40%;
	font-size: 18px;
	text-align: center;
	position: relative;
	bottom: 15%;
	left: 2.5%;
	font-family: sans-serif;
	color: white;
}	
.gestion-reservation a{
	display: inline-block;
	text-decoration: none;
	color: white;
	position: relative;
	left:30%;
	bottom: 15%;
	width: 40%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 10px;
	background-color: #d50000;
	letter-spacing: 1px;
}
.gestion-reservation a:hover{
	color: black;
	background-color: #4CAF50;
}
.payement{
	border-radius: 5px;
	width: 32%;
	height: 32%;
	float: right;
	position: relative;
	top: 27%;
	right: 1%;
	
}
.payement:hover{
	background-color: rgba(0,0,0,0.7); 
}
.payement img{
	width: 25%;
	height: 25%;
	margin-left: 2%;
	border-radius: 50%;
}
.payement h2{
	font-family: "Playfair Display",serif;
	font-size: 19px;
	position: relative;
	left: 30%;
	bottom: 25%;
	text-shadow: 4px 3px 4px black;
	color: #03A9F4;
}	
.payement p{
	width: 95%;
	height: 40%;
	font-size: 18px;
	text-align: center;
	position: relative;
	bottom: 15%;
	left: 2.5%;
	font-family: sans-serif;
	color: white;

}	
.payement a{
	display: inline-block;
	text-decoration: none;
	color: white;
	position: relative;
	left:30%;
	bottom: 10%;
	width: 40%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 10px;
	background-color: #d50000;
	letter-spacing: 1px;
}
.payement a:hover{
	color: black;
	background-color: #4CAF50;
}
.reclamation{
	border-radius: 5px;
	width: 32%;
	height: 32%;
	position: relative;
	top: 27%;
	left: 1%;
}
.reclamation:hover{
	background-color: rgba(0,0,0,0.7); 
}
.reclamation img{
	width: 30%;
	height: 30%;
	border-radius: 50%;
	margin-left: 2%;
		}
.reclamation h2{
	font-family: "Playfair Display",serif;
	font-size: 17px;
	position: relative;
	left: 33%;
	bottom: 30%;
	text-shadow: 4px 3px 4px black;
	color: #03A9F4;
}		
.reclamation p{
	width: 95%;
	height: 40%;
	font-size: 18px;
	text-align: center;
	position: relative;
	bottom: 15%;
	left: 2.5%;
	font-family: sans-serif;
	color: white;
}
.reclamation a{
	display: inline-block;
	text-decoration: none;
	color: white;
	position: relative;
	left:30%;
	bottom: 10%;
	width: 40%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 10px;
	background-color: #d50000;
	letter-spacing: 1px;
}
.reclamation a:hover{
	color: black;
	background-color: #4CAF50;
}
/* menu recherche chambre -----------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------
-----*/
.chambre{
	height: 40%;
	width: 33%;
	padding: 0.4%;
	
	float: right;
	position: relative;
	right: 0.2%;
	bottom: 80%;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.6);
	
}
.chambre h2,.etudiant h2{
	text-align: center;
	text-shadow: 2px 1px 3px white;

}
.chambre:hover,.etudiant:hover{
	background-color: rgba(0,0,0,0.9);
}
.chambre p{
	position: relative;
	top: 12%;
	left: 3%;


}
.info,.info1{
	font-weight: bolder;
	font-size: 18px;
	text-shadow: 2px 1px 3px black;
	color: white;
}
.rep,.rep1{
	font-weight: bold;
	position: relative;
	left: 10%;
	color: #00BCD4;
	text-shadow: 2px 1px 3px black;
}
input[type="submit"]{
	border-radius: 5px;
	padding: 1.3%;
	font-size: 14px;
	background-color: #4CAF50;
	margin-left: 2%;
}
input[type="submit"]:hover{
	background-color: #FF5722;
	color: white;
}
form{
	position: relative;
	top: 7%;
}
label{
	font-size: 20px;
	font-weight: bolder;
	text-shadow: 2px 2px 4px black;
	color: white;
	position: relative;
	left: 2%;
}
input{
	border-radius: 5px;
	padding-top: 1%;
	padding-bottom: 1%;
	position: relative;
	left: 8%;
	color: black;
}


.etudiant{
	height: 40%;
	width: 33%;
	border: 1px solid black;
	position: relative;
	border-radius: 10px;
	left: 65.9%;
	bottom: 37%;
	padding: 0.4%;
	background-color: rgba(0,0,0,0.6);
	
}
.etudiant p{
	position: relative;
	bottom: 10%;
	left: 2.5%;
}