*{
	margin: 0px;
	padding: 0px;
}
body{
	
	overflow-x: hidden;
	overflow-y: hidden;

}
.container{
	height: 100vh;
	border: 1px solid black;
	background-color: #E0E0E0;
	}
	/*------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------Barre de navigation-----------------------------------------------------------------------
----------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------*/
.barre{
	height: 10%;
	border: 1px solid grey;
	background-color: #212121;
	opacity: 0.7;
}
.barre ul{
	display: inline-block;
	width: 90%;
	height: 100%;


	}
.barre ul li{
	display: inline;


}
#logo{
	position: relative;
	left: 0%;
	display: inline-block;
	width: 10%;
	height: 100%;
	background-image: url(../img/logo.jpg);
	background-size: cover;
	background-position: center;
}
#Acceuil{
	position: relative;
	left: 10%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Catalogue{
	position: relative;
	left: 20%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Deconnexion{
	position: relative;
	left: 40%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Acceuil:hover{
color: #03A9F4;
border: 2px solid white;

}
#Catalogue:hover{
	color:#009688;
	border: 2px solid white;
}
#Deconnexion:hover{
	color:#f44336;
	border: 2px solid red;
}

#espace:hover{
	color:#3F51B5;
	border: 2px solid white;
}

#espace{
	position: relative;
	left: 31%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
}
/*-------------------------------------------------------------------------------------
----------------------------------------------l'image ---------------------------------
--------------------------------------------------------------------------------------*/
.image{
	border: 1px solid black;
	width: 100%;
	height: 40%;
	background-image:url(../img/gfichier.jpg);
	background-size: cover;
	background-position: center;
}
h1{
	position: relative;
	top: 70%;
	left: 55%;
	font-size: 300%;
	text-shadow: 2px 2px  4px white;
	font-family: 'Playfair Display', serif;
}
/*------------------------------------------------------------------------------------
------------------------------------------------le tableau des fichiers--------------
---------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/

.container1{
	border-left: 1px solid black;
	width: 60%;
	float: right;
	height: 47%;
	overflow: scroll;
	padding: 0.3%;
	position: relative;
	
}
.container1 img{
	width: 15%;
	height: 15%;
	position: relative;
	top: 5%;
	left: 5%;
	border-radius: 50%;
}
.container1 h2{
	font-size: 210%;
	color: red;
	position: relative;
	bottom:13%;
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: #FF5722;
	right: 9%;
}
/*------------------------------------------------------------------------------------
------------------------------------------------le tableau des fichiers valides--------------
---------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/
.fvalid{
	width:90%;
	height:80%;
	overflow: scroll;
	border: 2px dotted black;
	position: relative;
	left: 5%;
	border: 2px black solid;
	
}

.fvalid img{
	width: 20%;
	height: 30%;
	position: relative;
	top: 18%;
	left: 2%;
	border-radius: 50%;
}
.fvalid h2{
	font-size: 200%;
	
	position: relative;
	bottom:9%;
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: #03A9F4;
	right:3%;
}
.fvalid table{
	font-size: 140%;
	position: relative;
	left: 2%;
	top: 2%;
	border-collapse:collapse;

}
.fnvalide{
	width:90%;
	height:80%;
	left: 5%;
	overflow: scroll;
	position: relative;
	border: 2px solid black;
	
}

.fnvalide img{
	width: 15%;
	height: 30%;
	position: relative;
	top: 15%;
	left: 3%;
	border-radius: 50%;
}
.fnvalide h2{
	font-size: 200%;
	
	bottom:9%;
	right:3%;
	
	position: relative;
	
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: #03A9F4;
	
}
.fnvalide table{
	font-size: 140%;
	position: relative;
	left: 2%;
	top: 2%;
	border-collapse:collapse;

}
.fattente{
	width:90%;
	height:80%;
	left: 5%;
	overflow: scroll;
	position: relative;
	border: 2px solid black;
	
}

.fattente img{
	width: 15%;
	height: 30%;
	position: relative;
	top: 15%;
	left: 1%;
	border-radius: 50%;
}
.fattente h2{
	font-size: 200%;
	bottom:9%;
	right:3%;
	position: relative;
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: #03A9F4;
	
}
.fattente table{
	font-size: 140%;
	position: relative;
	left: 2%;
	top: 2%;
	border-collapse:collapse;

}
td{
	border: 1px solid black;
	padding: 4px;

}
th{
	color: white;
	text-shadow: 2px 2px 4px black;
	border: 1px solid black;
	
	padding: 4px;
}
/*------------------------------------------------------------------------------------
------------------------------------------------formulaire de validation ou suppression--------------
---------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/
.container2{
	
	width: 39%;
	height: 48%;
	display: inline-block;
	position: relative;
	
}
.ajout{
	
	width: 90%;
	height: 99%;
	margin: 0.5%;
	padding: 0.4%;
	position: relative;
	left: 4.5%;
}
.ajout form img{
	width: 20%;
	height: 20%;
	border-radius: 50%;
}
#ajouter{
	height:97%; 
	border-radius: 2px;
}
#ajouter:hover{
background-color: rgba(255,255,255,0.6);
}
#ajouter img{
	position: relative;
	left: 10%;
}
#ajouter h3{
	position: relative;
	left: 33%;
	font-size: 140%;
	font-family: 'Playfair Display', serif;
	bottom: 15%;
	color: #FF5722;
}
#ajouter label{
	display: inline-block;
	position: relative;
	left: 8%;
	font-size: 130%;
	text-shadow: 2px 2px 4px white;
	bottom: 5%;
	margin-top: 2%;

}
#ajouter input{
	width: 60%;
	height: 8%;
	border-radius: 5px;
	position: relative;
	bottom: 5%;
	left: 10%;
	background-color: #9E9E9E;
	color: black;
	font-weight: bolder;
}
#ajouter input[type="submit"]{
	width: 28%;
	height: 9%;
	border-radius:3px;
	position: relative;
	
	left: 10%;

	background-color: #03A9F4;
	color: black;
	font-weight: bolder;
}
#ajouter span{
	display: inline-block;
	font-size: 120%;
	position: relative;
	left: 25%;
	bottom: 5.1%;
	color: red;
	margin-top: 2%;
	
}
#ajouter input[type="submit"]:hover{
	
	background-color: #8BC34A;
	color: white;
	
}
form a{
	display: inline-block;
	text-decoration: none;
	border-top: : 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	width: 26%;
	height: 8%;
	position: relative;
	left:68%;
	top: 9.7%;
	text-align: center;
	color: black;
	font-weight: bold;
	background-color: #03A9F4;
	color: black;
}
form a:hover{
	background-color: #8BC34A;
	color: white;
}
a{
	text-decoration: none;
	color:green;
}
h5{
	position:relative;
	right:10%;
	color:green;
	bottom:5%;
	float:right;
}