*{
	margin: 0px;
	padding: 0px;
}
body{
	overflow-y: hidden;
	overflow-x: hidden;
}
.container{
	height: 100vh;
	border: 1px solid black;
	background-color: #E0E0E0;
	}
/*------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------Barre de navigation-----------------------------------------------------------------------
----------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------*/
.barre{
	height: 10%;
	border: 1px solid grey;
	background-color: #212121;
	opacity: 0.7;
}
.barre ul{
	display: inline-block;
	width: 90%;
	height: 100%;


	}
.barre ul li{
	display: inline;


}
#logo{
	position: relative;
	left: 0%;
	display: inline-block;
	width: 10%;
	height: 100%;
	background-image: url(../img/logo.jpg);
	background-size: cover;
	background-position: center;
}
#Acceuil{
	position: relative;
	left: 10%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Catalogue{
	position: relative;
	left: 20%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Deconnexion{
	position: relative;
	left: 40%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Acceuil:hover{
color: #03A9F4;
border: 2px solid white;

}
#Catalogue:hover{
	color:#009688;
	border: 2px solid white;
}
#Deconnexion:hover{
	color:#f44336;
	border: 2px solid red;
}

#espace:hover{
	color:#3F51B5;
	border: 2px solid white;
}

#espace{
	position: relative;
	left: 31%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
}
/*-------------------------------------------------------------------------------------
----------------------------------------------l'image ---------------------------------
--------------------------------------------------------------------------------------*/
.image{
	border: 1px solid black;
	width: 100%;
	height: 40%;
	background-image:url(../img/gch.jpg);
	background-size: cover;
	background-position: 0px;
}
h1{
	position: relative;
	top: 70%;
	left: 10%;
	font-size: 300%;
	color: white;
	text-shadow: 2px 2px  4px black;
	font-family: 'Playfair Display', serif;
}
/*------------------------------------------------------------------------------------
------------------------------------------------le tableau des etudiants--------------
---------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/
.container1{
	border-left: 3px solid black;
	width: 50%;
	float: right;
	height: 47%;
	overflow: scroll;
	padding: 0.3%;
	position: relative;
	
	

}
.container1 img{
	width: 15%;
	height: 15%;
	position: relative;
	top: 5%;
	left: 5%;
	border-radius: 50%;
}
.container1 h2{
	font-size: 210%;
	color: red;
	position: relative;
	bottom:13%;
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: #FF5722;
	left: 1%;
}
.container1 table{
	font-size: 140%;
	position: relative;
	left: 2%;
	top: 2%;
	border-collapse:collapse;

}
td{
	border: 1px solid black;
	padding: 4px;

}
th{
	color: white;
	text-shadow: 2px 2px 4px black;
	border: 1px solid black;
	
	padding: 4px;
}
/*------------------------------------------------------------------------------------
------------------------------------------------menu du traitement--------------
---------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/
.container2{
	
	width: 49%;
	height: 48%;
	display: inline-block;
	position: relative;
	
	
	
	
}
/*------------------------------------------------------------------------------------
------------------------------------------------menu d'ajout--------------
---------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/
.ajout{
	
	width: 48.5%;
	height: 95%;
	float: right;
	margin: 0.5%;
	padding: 0.4%;
}
.ajout form img{
	width: 20%;
	height: 20%;
	border-radius: 50%;
}
#ajouter{
	height:97%; 
	border-radius: 2px;
}
#ajouter:hover{
background-color: rgba(255,255,255,0.6);
}
#ajouter img{
	position: relative;
	left: 10%;
}
#ajouter h3{
	position: relative;
	left: 33%;
	font-size: 140%;
	font-family: 'Playfair Display', serif;
	bottom: 15%;
	color: #FF5722;
}
#ajouter label{
	position: relative;
	left: 8%;
	font-size: 130%;
	text-shadow: 2px 2px 4px white;
	bottom: 5%;
}
#ajouter input{
	width: 60%;
	height: 8%;
	border-radius: 5px;
	position: relative;
	bottom: 5%;
	left: 30%;
	background-color: #9E9E9E;
	color: black;
	font-weight: bolder;
}
#ajouter input[type="submit"]{
	width: 30%;
	height: 10%;
	border-radius:3px;
	position: relative;
	top: 1.0%;
	left: 66%;
	background-color: #03A9F4;
	color: black;
	font-weight: bolder;
}
#ajouter input[type="submit"]:hover{
	background-color: #8BC34A;
	color: white;
}

/*------------------------------------------------------------------------------------
------------------------------------------------menu de suppression--------------
---------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/
.supression{
	border-right : 2px dotted grey;
	width: 48.5%;
	margin: 0.5%;
	padding: 0.4%;
	height: 95%;
}

.supression form img{
	width: 20%;
	height: 20%;
	border-radius: 50%;
}


#supprimer2 img{
	position: relative;
	left: 10%;
	
}
#supprimer2{
	height:97%; 
	border-radius: 2px;
}
#supprimer2 span{
	font-size: 120%;
	position: relative;
	left: 15%;
	bottom: 5.1%;
	color: red;
}

#supprimer2 input{
	width: 60%;
	height: 8%;
	border-radius: 5px;
	position: relative;
	bottom: 5%;
	left: 8%;
	background-color: #9E9E9E;
	color: black;
	font-weight: bolder;
}
#supprimer2 h3{
	position: relative;
	left: 33%;
	font-size: 140%;
	font-family: 'Playfair Display', serif;
	bottom: 15%;
	color: #FF5722;
}
#supprimer2 label{
	position: relative;
	left: 8%;
	font-size: 130%;
	text-shadow: 2px 2px 4px white;
	bottom: 5%;

}

#supprimer2 input[type="submit"]{
	width: 30%;
	height: 10%;
	border-radius:3px;
	position: relative;
	
	left: 1%;
	background-color: #03A9F4;
	color: black;
	font-weight: bolder;
}
#supprimer2 input[type="submit"]:hover{
	
	background-color: red;
	color: white;
	
}
#supprimer2:hover{
	background-color: rgba(255,255,255,0.6);
}

/*------------------------------
------------------------------------
------------------------------------------
------------------------------------------------------
-------------------------------------*/
h5{
	color:green;
	margin-left:20%;
}
#h5{
	color:green;
	margin-left:0%;
}
