*{
	margin: 0px;
	padding: 0px;
}
body{
	overflow-y: hidden;
	overflow-x: hidden;
}
.container{
	height: 100vh;
	border: 1px solid black;
	background-image: url("../img/abc.jpg");
	background-size: cover;
	background-position: center;
}
.barre{
	height: 10%;
	border: 1px solid grey;
	background-color: #212121;
	opacity: 0.7;
}
.barre ul{
	display: inline-block;
	width: 90%;
	height: 100%;


	}
.barre ul li{
	display: inline;


}
#logo{
	position: relative;
	left: 0%;
	display: inline-block;
	width: 10%;
	height: 100%;
	background-image: url(../img/logo.jpg);
	background-size: cover;
	background-position: center;
}
#Acceuil{
	position: relative;
	left: 10%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Catalogue{
	position: relative;
	left: 20%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Deconnexion{
	position: relative;
	left: 40%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Acceuil:hover{
color: #03A9F4;
border: 2px solid white;

}
#Catalogue:hover{
	color:#009688;
	border: 2px solid white;
}
#Deconnexion:hover{
	color:#f44336;
	border: 2px solid red;
}

#espace:hover{
	color:#3F51B5;
	border: 2px solid white;
}

#espace{
	position: relative;
	left: 31%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
}
/*fin de la barre de navigation------------------------------------
------------------------------------------------------------------------
-------------------------------------------------------------------------------*/
.container1{
	width: 84%;
	height: 90%;
	position: relative;
	left: 9%;
	background-color: #BDBDBD;
	opacity: 0.7;
}


.container2{
	width: 60%;
	height: 10%;
	position: relative;
	left: 20%;
	top: 2%;
	background-color: rgba(0,0,0,0.1);

}
h1{
	font-style: oblique;
	font-family: 'Playfair Display', serif;
	text-align: center;
	letter-spacing: 1px;
	word-spacing: 2px;
	text-shadow: 2px 2px 4px white;
	}
#info{
	border: 1px solid white;
	width: 40%;
	height: 50%;
	position: relative;
	top: 20%;
	font-family: 'Merriweather', serif;
	left: 3%;
	font-size: 140%;
	line-height: 150%;
	padding: 1%;
	border-radius: 10px;
	text-shadow: 2px 1px 6px solid;
	font-style: italic;

}
#info img{
	width: 20%;
	height: 20%;
	position: relative;
	left: 20%;
}
#info:hover{
	background-color: rgba(255,255,255,0.7);
}
#h1{
	font-family: cursive;
	font-size: 120%;
	position: relative;
	bottom: 5%;
	left: 17%;
	text-shadow: 2px 2px 4px black;

}
.etat{
	
	width: 40%;
	height: 10%;
	position: relative;
	left:3%;
	top: 10%;
	padding: 1%;
	line-height: 190%;
	text-shadow: 2px 2px 4px white;
	font-weight: bolder;
}
.etat span{
	position:relative;
	top: 22%;
	font-size: 120%;
	text-decoration: underline;
	
}
#fin{
	color: #f44336;
	font-size: 150%;
	text-decoration: none;
	font-weight: bold;
}
form{
	width: 40%;
	height: 60%;
	position: relative;
	left: 52%;
	border: 2px solid white;
	bottom: 50%;
	border-radius: 10px;
	background-color: #78909C;
}
form img{
	width: 20%;
	height: 20%;
	border-radius: 50%;
	position: relative;
	left: 40%;
	bottom: 12%;

}
label{
	font-size: 129%;
	font-weight: bolder;
	position: relative;
	left: 15%;
	color: #ffffff;
	text-shadow: 2px 2px 5px black;
}
select{
	height: 10%;
	width: 60%;
	position: relative;
	left: 15%;
	color: blue;
}
input{
	height: 10%;
	position: relative;
	top: 2%;
	left: 32%;
	width: 30%;
	border-radius: 5px;
	color: white;
	background-color: #4CAF50;
}
input:hover{
	background-color: red;
	color: black;
}
h5{
	color:blue;
	position :relative;
	top:1.4%;
	left:4%;
}