*{
	margin: 0px;
	padding: 0px;
	

}
body{
	overflow-x: hidden;
}

/*cette partie concerne la barre de navigation*/
.header ul{
	float: right;
	position: relative;
	right: 8%;
	margin-top:20px;
	width: auto;
	height: auto;

	
}

.header{
height: auto;
border: 1px black solid;
background-color: #212121;
border: 1px grey solid;
opacity: 0.7;





}
.header img{
	height: 170%;
	width: 10%;
	
}

.header ul li{
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 50px;
	display: inline-block;
	background-color: white;
	padding: 10px;
	width: 200px;
	border-radius: 15px;

}
.header ul li:hover{
	background-color: #03A9F4;
	
}
.header ul li a{
	position: relative;
	left: 33%;
	color: black;
	font-size: 20px;
	text-decoration: none;
	
}
.header ul li a:hover{
	text-decoration: underline;
	color:white;

}

/*cette partie concerne la partie menu-cnx*/

form{
	
	border-radius: 20px;
	padding: 10px;
	width: 20%;
	height: 400px;
	background-color:rgba(0,0,0,0.5);
	position:absolute;
	top: 30%;
	left:75%;

}
form input[type="email"]{
	margin: 10px;
	position: relative;

}
form input[type="submit"]{
	position: relative;
	top: 52%;
	border: black solid 2px;
	padding-left: 35%;
	padding-right: 35%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 5px;
	left: 0%;
	font-weight: bold;
	font-size: 14px;
	background-color:#607D8B;
	color: white;
	text-transform: capitalize;

}
form a{
	color: white;
	position: relative;
	top: 54%;
	text-decoration: none;
	left: 50%;
}
form a:hover{
	color: grey;
}
#label{
	color: white;
}
.cnx{
	background-image: url("../img/b.jpeg");
	background-size: 100%;
	background-position: center;
	height: 100vh;
	margin: 0%;
	
	


}
form input[type="email"]{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 10px;
	border: black 1px solid;
	text-align: left;
	position: relative;
	right: 3%;
	top: 30%;
}
form input[type="password"]{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 10px;
	border: black 1px solid;
	text-align: center;
	position: relative;
	top: 46%;
	left: 1%;
	color: #000;
}
#label2{
	position: relative;
	top: 38%;
	left: 7%;
	font-family: sans-serif;
	font-size: 17px;
	color: #fff;
	
}
#label1{
	position: relative;
	top: 30%;
	right: 55%;
	font-family: sans-serif;
	font-size: 17px;
	color: #fff;
}
#label{
	position: relative;
	top: 15%;
	font-size: 190%;
	left: 20%;
	color: #fff;

}
#u{
	height: 10%;
	width: 10%;
	border: white solid 2px;
	border-radius: 50%;
	position: absolute;
	left: 80%;
	top: 22%;
	opacity: 1;
	background-color: white;
}
#contact{
	display: block;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	position: absolute;
	bottom: 30%;
	padding-left: 5%;
	padding-right: 5%;
	left: 52%;
	text-decoration: none;
	border-radius: 10px;
	background-color: #cd201f;
	opacity: 0.8;
	color: black;
	font-size: 20px;
}
#inscrire{
	text-decoration: none;
	display: block;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	position: absolute;
	bottom: 50%;
	padding-left: 6.39%;
	padding-right: 6.39%;
	left: 52%;
	border-radius: 10px;
	background-color: #34465d;
	color: white;
	opacity: 0.8;
	font-size: 20px;

}
#inscrire:hover{
	background-color: #0084ff;
	color: black;
	opacity:0.8; 
}
#contact:hover{
	background-color: #df2029;
	color: white;
	opacity:0.8; 
}

form:hover{
	background-color: rgba(255,255,255,0.6);
	
}
form input[type="submit"]:hover{
    background-color: #212121;
    color: white;
}
.menu-cnx h1{
text-shadow: 2px 1px 5px black;
padding-top: 2%;
padding-left: 2%;
margin-bottom: 2%;
width: 40%;
position: absolute;
left: 14%;
top: 25%;
color: #FAFAFA;
font-size: 47px;
font-family: 'Playfair Display', serif;
}
/*la partie catalogue des chambres*/
.catalogue{
	background-image: url("../img/c.jpeg");
	background-size: cover;
	background-position:bottom;
	height: 150vh;
	border: 1px grey solid;
	margin: 1px;
	}
#cata{
	width: 15%;
	position: relative;
	left: 44%;
	margin-top: 5%;

}
.catalogue h2{
	font-family: 'Playfair Display', serif;
	font-size:50px;
	position:relative;
	left:30%;
	margin-top:1%;
}
.chambre-simple h3,.chambre-double h3,.chambre-triple h3{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	text-align: center;
	color: #009688;
}

.chambre-simple{
	
	position: relative;
	right: 3%;
	width: 25%;
	float: right;
	margin-top: 5%;
	padding: 2%;
	border-radius: 35px;
	background-color: rgba(255,255,255,0.4);
}

.chambre-double{

	border-radius: 35px;
	position: relative;
	right: 5%;
	width: 25%;
	float: right;
	margin-top: 5%;
	padding: 3%;
	background-color: rgba(255,255,255,0.4);
}
.chambre-triple{
	
	position: relative;
	left: 2%;
	width: 25%;
	margin-top: 5%;
	padding: 3%;
	border-radius: 35px;
	background-color: rgba(255,255,255,0.4);
}
.chambre-simple p img{
	width: 100%;
	height: 100%;
	margin-top: 7%;
	border-radius: 30%;
	}
.chambre-double p img{
	width: 100%;
	height: 100%;
	border-radius: 30%;
	margin-top: 7%;

	}
.chambre-triple p img{
	width: 100%;
	height: 100%;
	border-radius: 30%;
	margin-top: 7%;
	}
.infos{
	margin-top: 30px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	color: #9C27B0;
	font-weight: bold;
}

.infos strong{
	font-size: 20px;
	font-weight: bolder;
	color: #212121;
}
.infos1 strong{
	font-size: 20px;
	font-weight: bolder;
	color: #212121;
}
.infos2 strong{
	font-size: 20px;
	font-weight: bolder;
	color: #212121;
}
.infos1{
	margin-top: 50px;
	line-height: 40px;
	font-size: 18px;
	font-weight: bold;
	color: #FF9800;
	text-align: center;
}
.infos2{
	margin-top: 83px;
	line-height: 40px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #607D8B;
}
/* la partie nos services*/
.nos-services{
	background-color: #E0E0E0;
	margin-top: 1px;
	height: 200vh;
}
.nos-services h2{
	font-family: 'Playfair Display', serif;
	font-size:50px;
	position:relative;
	left:38%;

}
#services{
	border-radius: 50%;
	display: inline-block;
	position: relative;
	left: 40%;
	margin-top: 5%;

}
.depot{
	
	width: 30%;
	border-radius: 40px;
	width: 408px;
	height: 395px;
	background-color: rgba(255,255,255,0.3);
	float: right;
	position: relative;
	top: 40px;
	right: 200px;
}
#depot-fich{
	height: 40%;
	width: 30%;
	display: inline;
	position: relative;
	left: 30%;
}
.depot h3{
	position: relative;
	right: 6%;
	top: 5px;
	float: right;
	font-family: 'Roboto', sans-serif;
	margin:5px;
	color: #1A237E;
}
.depot p{
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 5px;
	margin: 4px;
	color:  #263238;
	position: relative;
	bottom: 6px;

}
.payement{
	width: 30%;
	border-radius: 40px;
	width: 408px;
	height: 395px;
	background-color: rgba(255,255,255,0.3);
	position: relative;
	top: 40px;
	position: relative;
	left: 200px;

}
#payimg{
	height: 40%;
	width: 30%;
	display: inline;
	position: relative;
	left: 30%;
	top: 40px;
	border-radius: 50%;
}
.payement h3{
	position: relative;
	right: 29%;
	top: 5px;
	float: right;
	font-family: 'Roboto', sans-serif;
	margin:5px;
	color: #1A237E;
}
.payement p{
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 5px;
	margin-top: 40px;
	color:  #263238;
	margin:10px;
	margin-top: 40px;
}

.reservation{
	
	width: 30%;
	border-radius: 40px;
	width: 408px;
	height: 395px;
	background-color: rgba(255,255,255,0.3);
	float: right;
	position: relative;
	top: 100px;
	right: 200px;
}
#resimg{
	height: 50%;
	width: 50%;
	display: inline;
	position: relative;
	left: 20%;
	top: 20px;
	border-radius: 50%;

}
.reservation h3{
	position: relative;
	right: 15%;
	top: 5px;
	float: right;
	font-family: 'Roboto', sans-serif;
	margin:5px;
	color: #1A237E;
}
.reservation p{
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 5px;
	margin-top: 20px;
	margin: 10px;
	color:  #263238;
}
.suivie{
	
	width: 30%;
	border-radius: 40px;
	width: 408px;
	height: 395px;
	background-color: rgba(255,255,255,0.3);
	position: relative;
	top: 100px;
	left: 200px;
}
#suivimg{
	height: 50%;
	width: 50%;
	display: inline;
	position: relative;
	left: 20%;
	top: 20px;
	border-radius: 50%;
}
.suivie h3{
	position: relative;
	right: 15%;
	top: 5px;
	float: right;
	font-family: 'Roboto', sans-serif;
	margin:5px;
	color: #1A237E;
}
.suivie p{
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 5px;
	margin: 20px;
	margin-top: 20px;
	
	color:  #263238;
}
/*footer */
footer {
	background-color: grey;
}
footer h1{
	font-size:30px;
	color: white;
	font-family: 'Supermercado One', cursive;
	text-align: center;
}
