*{
	margin: 0px;
	padding: 0px;
}
body{
	
	overflow-x: hidden;
	overflow-y:hidden;
	
	
	}
.container{
	height: 100vh;
	border: 1px solid black;
	background-image: url("../img/pay4.jpg");
	background-size: cover;
	background-position: center;
}
.barre{
	height: 10%;
	border: 1px solid grey;
	background-color: #212121;
	opacity: 0.7;
}
.barre ul{
	display: inline-block;
	width: 90%;
	height: 100%;


	}
.barre ul li{
	display: inline;


}
#logo{
	position: relative;
	left: 0%;
	display: inline-block;
	width: 10%;
	height: 100%;
	background-image: url(../img/logo.jpg);
	background-size: cover;
	background-position: center;
}
#Acceuil{
	position: relative;
	left: 10%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Catalogue{
	position: relative;
	left: 20%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Deconnexion{
	position: relative;
	left: 40%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
	
}
#Acceuil:hover{
color: #03A9F4;
border: 2px solid white;

}
#Catalogue:hover{
	color:#009688;
	border: 2px solid white;
}
#Deconnexion:hover{
	color:#f44336;
	border: 2px solid red;
}

#espace:hover{
	color:#3F51B5;
	border: 2px solid white;
}

#espace{
	position: relative;
	left: 31%;
	bottom: 44%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	width: 10%;
	color: white;
	font-size: 20px;
}
/*fin de la barre de navigation------------------------------------
------------------------------------------------------------------------
-------------------------------------------------------------------------------*/
.container1{
	width: 100%;
	height: 90%;
	position: relative;
	left: 0%;
	background-color: rgba(0,0,0,0.7);
	opacity: 0.7;
}


.container2{
	width: 60%;
	height: 10%;
	position: relative;
	left: 20%;
	top: 5%;
	background-color: rgba(0,0,0,0.1);

}

.container2 img{
	width:10%;
	height: 100%;
}
h1{
	font-style: oblique;
	font-family: 'Playfair Display', serif;
	text-align: center;
	letter-spacing: 1px;
	word-spacing: 2px;
	text-shadow: 2px 2px 4px black;
	color: white;
	}
#info{
	border: 1px solid white;
	width: 40%;
	height: 50%;
	position: relative;
	top: 10%;
	font-family: 'Merriweather', serif;
	left: 3%;
	font-size: 110%;
	line-height: 180%;
	padding: 1%;
	border-radius: 10px;
	text-shadow: 2px 1px 6px solid;
	font-style: italic;
	background-color: rgba(255,255,255,0.4);

}
#info img{
	width: 20%;
	height: 20%;
	position: relative;
	left: 20%;
}
#info:hover{
	background-color: rgba(255,255,255,0.7);
}
#h1{
	font-family: cursive;
	font-size: 120%;
	position: relative;
	bottom: 5%;
	left: 19%;
	text-shadow: 2px 2px 4px black;

}
.etat{
	
	width: 40%;
	height: 10%;
	position: relative;
	left:3%;
	top: 3%;
	padding: 1%;
	line-height: 190%;
	text-shadow: 2px 2px 4px black;
	font-weight: bolder;
}
.etat span{
	position:relative;
	top: 22%;
	font-size: 120%;
	text-decoration: underline;
	color: white;

	
}
#fin{
	color: #f44336;
	font-size: 140%;
	text-decoration: none;
	font-weight: bold;
}
form{
	width: 40%;
	height: 60%;
	position: relative;
	left: 58%;
	border: 2px solid white;
	bottom: 60%;
	border-radius: 10px;
	background-color: #607D8B;
}
form img{
	width: 30%;
	height: 30%;
	border-radius: 50%;
	position: relative;
	left: 35%;
	bottom: 18%;

}
label{
	font-size: 129%;
	font-weight: bolder;
	position: relative;
	left: 15%;
	bottom:  10%;
	color: #000000;
	text-shadow: 2px 2px 5px black;

}
select{
	height: 10%;
	width: 60%;
	position: relative;
	left: 15%;
	color: blue;
}
textarea{
	height: 20%;
	width: 60%;
	position: relative;
	left: 15%;
	font-size: 120%;
}
input{
	height: 10%;
	position: relative;
	bottom: 10%;
	left: 14%;
	width: 30%;
	border-radius: 5px;
	color: #4CAF50;
	
}
input[type="submit"]:hover{
	background-color: red;
	color: black;
}
input[type="submit"]{
	height: 10%;
	position: relative;
	bottom: 24.7%;
	left: 65%;
	width: 30%;
	border-radius: 5px;
	color: white;
	background-color: #4CAF50;
}
form h3{
	color: #009688;
	text-shadow: 2px 2px 5px black;
	
	width: 57%;
	font-size: 150%;
	position: relative;
	bottom: 20%;
	left: 20%;
	
}
#tranch{
	color: #ffffff;
	position: relative;
	bottom: 14%;
	left: 24%;
}
#total{
	color: #ffffff;
	position: relative;
	bottom: 14%;
	left: 24%;
}
#card{
	width: 8%;
	height:8%;
	border-radius: 50%;
	position: relative;
	bottom: : 10%;
	float: right;
	right: 34%;
	bottom: 56%;
}
#f1{
	position: relative;
	bottom: 55%;
	left: 67%;
	font-size: 160%;
	color:#009688;

}
#f2{
	position: relative;
	bottom: 47%;
	left: 10%;
	font-size: 130%;
	color:white;

}
p a{
	position: relative;
	left: 2.7%;
	height: 10%;
	border-radius: 5px;
	color: white;
	background-color: #4CAF50;
	width: 10%;
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 0.4%;
	text-align: center;
	text-decoration: none;
	font-size: 90%;


}
p a:hover{
	background-color: red;
	color: black;
}
h5{
	color:red;
	position:relative;
	bottom:24%;
	left:30%;
}
#paypal-button{
	position:relative;
	float:right;
	bottom:50%;
}