.container{
	
	height: 100vh;
	overflow-x: hidden;
	overflow-y:hidden;
	background-image: url(../img/acc.jpg); 
	background-size: cover;
	background-position: center;
	}
.container h1{
	position: relative;
	left: 10%;
	top: 4%;
	text-shadow: 2px 1px 5px black;
	font-family: "Playfair Display",serif;
	font-size: 47px;
	color: white;
}
*{
	margin: 0px;
	padding: 0px;
}
/*la partie du navigateur*/
.container2{
	width: 100%;
	height: 10%;
	background-color: #212121;
	opacity: 0.7;
	border: 2px grey solid;
}

.container2 ul{
	display: inline-block;
	width: 60%;
	position: relative;
	left: 10%;
	top: 20%;

}
.container2 ul li{
	display:inline-block;
}
.container2 ul li a{
padding-top: 10%;
padding-bottom: 10%;
padding-left: 20%;
padding-right: 20%;
display: inline-block;
width: 100px;
text-align: center;
font-size: 20px;
text-decoration: none;
color: white;

}
.container2 ul li a:hover{
	border:2px white solid;
}
#Acceuil{
	position: relative;
	left:10%;

}
#Acceuil:hover{
color: #03A9F4;


}
#Catalogue{
	position: relative;
	left:35%;
}
#Catalogue:hover{
	color:#009688;
}
#Deconnexion{
	position: relative;
	left:60%;
}
#Deconnexion:hover{
	color:#f44336;
	
}


/*la parti infos etudiant */
.container1{
	width: 30%;
	height: 60%;
	float: right;
	background-color:rgba(0,0,0,0.4);
	border: 1px solid white;
	border-radius: 15px;
	background-size: cover;
	background-position: center;
	position: relative;
	top: 28.3%;
	right: 2%;


}
.container1 img{
	width: 10%;
	height: 10%;
	position: relative;
	left: 5%;
	top: 3%;
}
.container h3{
	position: relative;
	top: 12%;
	left: 17%;
	font-weight: bolder;
	font-family : "Roboto",sans-serif;
	font-size: 25px;
	color: #2196F3;
	 text-shadow: 2px 1px 5px black;
}
.container1 p{
	position: relative;
	top: 6%;
	left: 15%;
	border-radius: 15px;
	width:70%;
	height:75%;
}
.container1 p:hover{
	background-color: rgba(255,255,255,0.5);
}
span{
	padding: 5% 5% 5% 5%;

}
.info{
	font-weight: bolder;
	font-size: 18px;
	text-shadow: 2px 1px 3px white;
}
.rep{
	font-weight: bold;
}
#user{
	width: 15%;
	height: 15%;
	border-radius: 50%;
	position:relative;
	bottom: 70%;
	left: 76%;
	display: inline-block;
}
/*la partie menu de choix*/

.menu{
	width: 60%;
	height: 70%;
	border: 0.5px white solid;
	position: relative;
	left: 4%;
	top: 10%;
	background-color: rgba(255,255,255,0.4);
	
	

}
.depot{
	width: 40%;
	height: 40%;
	border-radius: 5px;
	float: right;
	position: relative;
	top: 5%;
	right: 4%;

}
.depot:hover{
	background-color: rgba(255,255,255,0.5); 
}
.depot img{
	width: 30%;
	height: 30%;
	margin-left: 2%;
}
.depot h2{
	font-family: "Playfair Display",serif;
	font-size: 30px;
	position: relative;
	left: 30%;
	bottom: 30%;
	text-shadow: 4px 3px 6px black;
	color: #03A9F4;
}	
.depot p{
	width: 95%;
	height: 40%;
	font-size: 18px;
	text-align: center;
	position: relative;
	bottom: 15%;
	left: 2.5%;
	font-family: sans-serif;
}		
.depot a{
	display: inline-block;
	text-decoration: none;
	color: white;
	position: relative;
	left:30%;
	bottom: 20%;
	width: 40%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 10px;
	background-color: #d50000;
	letter-spacing: 1px;
}
.depot a:hover{
	color: black;
	background-color: #2196F3;
}
.reservation{
	border-radius: 5px;
	width: 40%;
	height: 40%;
	position: relative;
	top: 5%;
	left: 4%;
	
}
.reservation:hover{
	background-color: rgba(255,255,255,0.5); 
}
.reservation img{
	width: 30%;
	height: 30%;
	margin-left: 2%;
}
.reservation h2{
	font-family: "Playfair Display",serif;
	font-size: 20px;
	position: relative;
	left: 34%;
	bottom: 30%;
	text-shadow: 4px 3px 6px black;
	color: #03A9F4;
}
.reservation p{
	width: 95%;
	height: 40%;
	font-size: 18px;
	text-align: center;
	position: relative;
	bottom: 15%;
	left: 2.5%;
	font-family: sans-serif;
}	
.reservation a{
	display: inline-block;
	text-decoration: none;
	color: white;
	position: relative;
	left:30%;
	bottom: 15%;
	width: 40%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 10px;
	background-color: #d50000;
	letter-spacing: 1px;
}
.reservation a:hover{
	color: black;
	background-color: #2196F3;
}

.payement{
	border-radius: 5px;
	width: 40%;
	height: 40%;
	float: right;
	position: relative;
	top: 15%;
	right: 4%;
	
}
.payement:hover{
	background-color: rgba(255,255,255,0.5); 
}
.payement img{
	width: 30%;
	height: 30%;
	margin-left: 2%;
}
.payement h2{
	font-family: "Playfair Display",serif;
	font-size: 30px;
	position: relative;
	left: 40%;
	bottom: 30%;
	text-shadow: 4px 3px 6px black;
	color: #03A9F4;
}	
.payement p{
	width: 95%;
	height: 40%;
	font-size: 18px;
	text-align: center;
	position: relative;
	bottom: 15%;
	left: 2.5%;
	font-family: sans-serif;

}	
.payement a{
	display: inline-block;
	text-decoration: none;
	color: white;
	position: relative;
	left:30%;
	bottom: 15%;
	width: 40%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 10px;
	background-color: #d50000;
	letter-spacing: 1px;
}
.payement a:hover{
	color: black;
	background-color: #2196F3;
}

.reclamation{
	border-radius: 5px;
	width: 40%;
	height: 40%;
	position: relative;
	top: 15%;
	left: 4%;
}
.reclamation:hover{
	background-color: rgba(255,255,255,0.5); 
}
.reclamation img{
	width: 30%;
	height: 30%;
	border-radius: 50%;
	margin-left: 2%;
		}
.reclamation h2{
	font-family: "Playfair Display",serif;
	font-size: 30px;
	position: relative;
	left: 40%;
	bottom: 30%;
	text-shadow: 4px 3px 6px black;
	color: #03A9F4;
}		
.reclamation p{
	width: 95%;
	height: 40%;
	font-size: 18px;
	text-align: center;
	position: relative;
	bottom: 15%;
	left: 2.5%;
	font-family: sans-serif;
}
.reclamation a{
	display: inline-block;
	text-decoration: none;
	color: white;
	position: relative;
	left:30%;
	bottom: 15%;
	width: 40%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 10px;
	background-color: #d50000;
	letter-spacing: 1px;
}
.reclamation a:hover{
	color: black;
	background-color: #2196F3;
}
h5{
	color:green;
	margin-left:20%;
}
#h5{
	color:green;
	margin-left:0%;
}